*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth
}

body{
    font-family: montserrat,sans-serif;
}
/*-------------------NAV BAR ----------------------*/
nav{
    background: #64ffda;
    height: 70px;
    width: 100%;
    position: fixed;
    grid-area: nav;
    z-index: 100;
}
.nav-opacity{
    opacity: 0.95;
}
nav:hover{
    opacity:1;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px 10px 0;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.none{
    color: white; 
}

nav ul li a.active{
    background: #299e83;
    transition: .5s;
} 
nav ul li a:hover{
    background: #299e83;
    transition: .5s;
    border-radius: 10px;
    transition: .75s;
}

.checkbtn{
   font-size: 30px;
   color: rgb(24, 133, 148);
   float: right;
   padding: right;
   line-height: 80px;
   margin-right: 40px;
   cursor:pointer;
   display: none;
}
#check{
   display: none;
}



/*--------------------------------------------------------*/

h1{
    color: black;
    font-size: 100px;
    line-height: 80px;
    font-weight: bold;
}
button{
    width: 200px;
    color: white;
    font-size: 15px;
    padding: 12px 0;
    background: rgb(8, 9, 10);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5); 
}
#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.082);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 4px;
    padding-bottom: 2px;
    border-radius: 50%;
    width: 39px;
}
  
#myBtn:hover {
    background-color: rgb(156, 153, 153);
    cursor: pointer;
}

h5{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.card h5{
    text-align: left;
}
p{
    color: black;
    font-size: 15px;
    line-height: 15px;
}

.card{
    width: 250px;
    height: 230px;
    display: inline-block;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(./Images/img1.jpeg);
}
.card2{
    background-image: url(./Images/img2.jpg);
}
.card3{
    background-image: url(./Images/img3.jpg);
}
.card4{
    background-image: url(./Images/img4.jpg);
}

.card:hover{
    transform: translateY(-10px);
}
.card .under-card{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 7px 10px rgba(39, 157, 187, 0.5);
    width: 130px;
    height:25px;
    text-align: center;
    line-height: center;
    bottom: -80%;
    background: rgba(40, 239, 253, 0.774);
    z-index: 3;
    color: rgb(0, 0, 0);
    line-height: 25px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
  
.card:hover .under-card{
    opacity: 1;
    transform: translatey(0px);
}
/*--------------Animated arrow--------------*/
.card:hover .arrow{
    animation: back-and-forth 1.5s ease-in-out infinite;;
}
@keyframes back-and-forth {
    0%,100%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(-1px);
    }
}

/*--------------------------CSS Grid---------------------------*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 500px 255px 230px 100px 500px 70px;
    grid-template-areas:
      "nav nav nav"
      "main main main"
      "content1 content2 content3"
      "content4 content4 content4"
      "Contact Contact Contact"
      "Map content6 content6"
      "footer footer footer";
    grid-gap: 0.3rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}
   
main {
    background: #73ffba;
    grid-area: main;
    border-radius: 5px;
    padding-top: 180px;
    scroll-margin-top: 5rem;
}

#content1 {
    background: #64ffda;
    grid-area: content1;
    border-radius: 5px;
    padding-top: 5px;
    scroll-margin-top: 5rem;
}
  
#content2 {
    background: #58f3a6;
    grid-area: content2;
    border-radius: 5px;
    padding-top: 5px;
    scroll-margin-top: 5rem;
}
  
#content3 {
    background: #64ffda;
    grid-area: content3;
    border-radius: 5px;
    padding-top: 5px;
    scroll-margin-top: 5rem;
}

#content4 {
    background: #73ffba;
    grid-area: content4;
    border-radius: 5px;
    padding-top: 5px;
    scroll-margin-top: 5rem;
}

#Contact {
    background: #73ffba;
    grid-area: Contact;
    border-radius: 5px;
    line-height: 95px;
    scroll-margin-top: 5rem;
}

.line{
    width: 30%;
    height: 6px;
    position: relative;
    bottom: 30px;
    left: 35%;
    right: 35%;
    border-width: 0px;
    z-index: 0; 
    background: -moz-linear-gradient(left, #1AD3D3 0%, #299E83 50%, #1AD3D3 100%);
    background: -webkit-linear-gradient(left, #1AD3D3 0%, #299E83 50%, #1AD3D3 100%);
    background: linear-gradient(to right, #1AD3D3 0%, #299E83 50%, #1AD3D3 100%);
}
.line-animation{
    animation-name: line_animation;
    animation-duration: .5s;
    animation-timing-function: linear; 
}

#Map {
    background: #64ffda;
    grid-area: Map;
    border-radius: 5px;
    padding-top: 5px;
}
#content6 {
    background: #73ffba;
    grid-area: content6;
    border-radius: 5px;
    padding-top: 5px;
}
#content6 form{
    text-align: left;
    }

#footer{
    width: 100%;
    height: 70px;
    padding: 15px 80px;
    margin: 0;
    background: linear-gradient(#6fffd2,#1fce97);
    text-align: center;
    grid-area: footer;
}

#footer p{
    color: black;
    margin: 5px auto;
    font-weight: 400 ;
    font-size: 18px;
    line-height: 30px;
} 
/*------------------------------Compatibilite avec les mobiles-----------------------*/
@media (max-width: 768px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 10px;
    }
}
@media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 70px 300px 255px 255px 255px 255px 50px 350px 255px 70px;
      grid-template-areas:
        "nav"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "Contact"
        "Map"
        "content6"
        "footer";
    }

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #53e9e9;
        top: 70px;
        left: -100%;
        z-index: 99;
        text-align: center; 
        transition: all .5s; 
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        z-index: 99;
        line-height: 30px;
    } 
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a.active{
        background: #299e83;
        transition: .5s;
    } 
    nav ul li a:hover{
        background: #299e83;
        color: #1ad3d3;
        transition: .5s;
        border-radius: 10px;
        transition: .75s;
    }

    #check:checked ~ ul{
        left: 0;
    }

    main {
        padding-top: 50px;
    }

    #Contact {
        line-height: 50px;
    }

    .line{
        bottom: 15px;
    }

    iframe{
        height: 250px;
        width: auto;
    }

    #footer{
        padding: 0px 0px;
        margin: 0;
    }
    #footer p{
        margin: 5px auto;
        font-weight: 400 ;
        font-size: 14px;
        line-height: 60px;
    } 
}
/*----------------Animation de la ligne-----------------*/
@keyframes line_animation {
    from {
    left: 50%;
    width:0%;
    }
    to {
      width:30%;
    }
}